<!-- <html>
  <body>
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author }}</b> wrote:
      {% else %}
        An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}

    <form action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <a href="{{ url }}">{{ url_linktext }}</a>

  </body>
</html> -->

<html>
<head>
  <title>Lasertag rating portal</title><
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
  <div id="Statistics">
    All time statistics:
    <form acrion="/add" method="post">
      <textarea name='stats'></textarea>
      <input type="submit" value="Add" />
    </form>
  </div>
</body>
</html>