<!-- <html>
  <body>
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author }}</b> wrote:
      {% else %}
        An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}

    <form action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <a href="{{ url }}">{{ url_linktext }}</a>

  </body>
</html> -->

<html>
<head>
  <title>Lasertag rating portal</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
  <div id="Statistics">
    All time statistics:
    <form acrion="/add" method="post">
      <table>
        <tr>
          <td>Date</td>
          <td><input name="date" type='text' /></td>
        </tr>
        <tr>
          <td>Color</td>
          <td>
            <select name="color">
              <option>Red</option>
              <option>Blue</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Name or nick</td>
          <td><input name="name" type='text' /></td>
        </tr>
        <tr>
          <td>Rating</td>
          <td><input name="rating" type='text' /></td>
        </tr>
        <tr>
          <td>Accuracy</td>
          <td><input name="accuracy" type='text' /></td>
        </tr>
        <tr>
          <td>Damage</td>
          <td><input name="damage" type='text' /></td>
        </tr>
        <tr>
          <td>Count of death</td>
          <td><input name="countOfDeaths" type='text' /></td>
        </tr>
        <tr>
          <td>Count of Injuries</td>
          <td><input name="countOfInjuries" type='text' /></td>
        </tr>
        <tr>
          <td>Used cartridge</td>
          <td><input name="usedCartridge" type='text' /></td>
        </tr>
        <tr>
          <td colspan="2">
            <input type='submit' value='Add' />
          </td>
        </tr>
      </table>
    </form>
  </div>
</body>
</html>