<!-- <html>
  <body>
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author }}</b> wrote:
      {% else %}
        An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}

    <form action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <a href="{{ url }}">{{ url_linktext }}</a>

  </body>
</html> -->

<html>
<head>
  <title>Lasertag rating portal</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
  <div id="Gamers">
    List of gamers:<br>
    <ul>
      {% for gamer in gamers %}
      <li><a href="/user?key={{ gamer.keyStr }}">{{ gamer.name }} ({{ gamer.nick }})</a></li>
      {% endfor %}
    </ul>
  </div>
  <div id="Commands">
    List of command:
    <ul>
      {% for command in commands %}
      <li><a href="#">{{ command.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div id="Statistics">
    All time statistics:
    <table>
      <tr>
        <th>Date</th>
        <th><a href="/?orderBy=color&isDescending={{ isDescending }}">Color</a></th>
        <th>Name</th>
        <th><a href="/?orderBy=rating&isDescending={{ isDescending }}">Rating</a></th>
        <th><a href="/?orderBy=accuracy&isDescending={{ isDescending }}">Accuracy</a></th>
        <th><a href="/?orderBy=damage&isDescending={{ isDescending }}">Damage</a></th>
        <th><a href="/?orderBy=countOfDeaths&isDescending={{ isDescending }}">Count of death</a></th>
        <th><a href="/?orderBy=countOfInjuries&isDescending={{ isDescending }}">Count of Injuries</a></th>
        <th><a href="/?orderBy=usedCartridge&isDescending={{ isDescending }}">Used cartridge</a></th>
      </tr>
      {% for stat in statistics %}
      <tr>
        <td>{{ stat.game.date }}</td>
        <td>{{ stat.color }}</td>
        <td>{{ stat.gamer.name }} ({{ stat.gamer.nick }})</td>
        <td>{{ stat.rating }}</td>
        <td>{{ stat.accuracy }}</td>
        <td>{{ stat.damage }}</td>
        <td>{{ stat.countOfDeaths }}</td>
        <td>{{ stat.countOfInjuries }}</td>
        <td>{{ stat.usedCartridge }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>