/****************************************************/
#header, #footer {
	color: white;
	background: url(/static/camouflage.png) repeat-x #339933;
	vertical-align: middle;
	text-shadow: 1px 1px 3px black, 0 0 1em red; /* Параметры тени */
}

#footer a, #header a {
	color: white;
}

#footer a:hover, #header a:hover {
	text-decoration: none;
}

#header {
	background-position: 18% 40%;
	padding-top: 18px;
	padding-bottom: 16px;
	border-bottom: 2px solid black;
}

#header-main-page-return {
	text-align: left;
	font-size: 2.5ex;
	float: left;
}

#header-center {
	text-align: center;
	font-weight: bold;
	font-size: 3ex;
}

#footer {
	background-position: 35% 82%;
	border-top: 2px solid black;
	margin-top: 10px;
	padding-top: 7px;
	padding-bottom: 9px;
	position: absolute;
	width: 99%;
	font-size: 2.5ex;
	text-align: center;
}

/****************************************************/
#information {
	text-align: right;
	margin-top: 25px;
	margin-bottom: 20px;
}

/****************************************************/
#main {
	min-height: 91%;
}

/****************************************************/
table{
	border-collapse: collapse;
}

/****************************************************/
#info table, #info th, #info td {
	padding: 5px 5px 5px 5px;
}

/****************************************************/
#stats {
	margin-top: 20px;
}

/****************************************************/
#addForm textarea {
	width: 100%;
	height: 500px;
}

/****************************************************/
#lists table {
	width: 100%;
}

#lists td {
	width: 30%;
}

#list ul {
	display: none;
}

/*#gamers {
	overflow: hidden;
    height: 100px;
}

#commands {
	float: right;
    width: 100px;
    height: 100px;
}*/

/****************************************************/
.elements-center {
	margin-left:auto !important;
	margin-right:auto !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

h1, h2, h3, h4, h5, h6, h6 {
	text-align: center;
}
/****************************************************/