{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
	isChanged = false

	function ClearTextarea() {
		if (!isChanged) {
			document.getElementById("statsTextArea").value = "";
			isChanged = true;
		}
	}
</script>
{% endblock %}

{% block main %}
<div id="addForm">
	<p>{{ errors }}</p>
	<form acrion="/add" method="post">
		<textarea name='stats' id="statsTextArea" onclick="ClearTextarea();">Поле для ввода статистики...</textarea><br>
		<input type="submit" value="Add" class="elements-center" />
	</form>
</div>
{% endblock %}