<html>
<head>
	<meta charset="utf-8">
	<title>Laser-TOP</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	{% block head %}
	{% endblock %}
</head>
<body>
	<div id="header">
		<div id="header-main-page-return"><a href="/">&#8678;На главную</a></div>
		<div id="header-center">Портал статистики игр &laquo;<a href="http://vk.com/lasertagfundays">Lasertag fun days</a>&raquo;</div>
	</div>
	<div id="main">
		{% block main %}
		{% endblock %}
	</div>
	<div id="information">
		<a href="#">Справка</a>
		&lrm;
		<a href="#">Условия использования</a>
		&lrm;
		<a href="#">Информация о портале</a>
		&lrm;
		<a href="/add">Добавить новые данные</a>
		&lrm;
		<a href="/addCommand">Добавить новую команду</a>
		&lrm;
		<a href="/achievements/recalculate">Пересчитать достижения</a>
		&lrm;
		<a href="/achievements/initialization">Задать начальные типы достижений</a>
		&lrm;
	</div>
	<div id="footer">
		&copy; 2013 Pleshakov Dmitry <a href="mailto:dpleshakov@gmail.com">&lt;dpleshakov@gmail.com&gt;</a><br />
		Source code on <a href="https://github.com/dpleshakov/laser-top">GitHub</a>
	</div>
</body>
</html>