{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type='text/javascript'>
	google.load('visualization', '1', {packages:['table']});
	google.setOnLoadCallback(drawTable);

	function drawTable() {
		var data = new google.visualization.DataTable();
		data.addColumn('date', 'Дата');
		data.addColumn('string', 'Цвет');
		data.addColumn('string', 'Игрок');
		data.addColumn('number', 'Рейтинг');
		data.addColumn('number', 'Точность');
		data.addColumn('number', 'Урон');
		data.addColumn('number', 'Количество смертей');
		data.addColumn('number', 'Количество ранений');
		data.addColumn('number', 'Использовано патронов');

		{% for stat in stats %}
		data.addRow(
			[new Date({{ stat.game.date.year }}, {{ stat.game.date.month }} - 1, {{ stat.game.date.day }}), '{{ stat.color }}', '{{ stat.gamer|GamerFormat }}',
			{{ stat.rating }}, {{ stat.accuracy }}, {{ stat.damage }}, {{ stat.countOfDeaths }}, {{ stat.countOfInjuries }}, {{ stat.usedCartridge }}]
		);
		{% endfor %}

		var table = new google.visualization.Table(document.getElementById('stats'));
		table.draw(data, {showRowNumber: false});
	}
</script>
{% endblock %}

{% block main %}
<div id="info">
	<table>
		<tr>
			<th colspan="2" class="text-center">Информация о команде</th>
		</tr>
		<tr>
			<td class="text-right">Название:</td>
			<td>{{ command.name }}</td>
		</tr>
		<tr>
			<td class="text-right">Логотип (отображается рядом с именем игрока):</td>
			<td><img src="/images/{{ command.logo.keyStr }}" /></td>
		</tr>
		<tr>
			<td class="text-right">Изображение:</td>
			<td><!-- <img src="/images/{{ command.logo.keyStr }}" /> --></td>
		</tr>
		<tr>
			<td class="text-right">Количество игроков:</td>
			<td>{{ command.gamersCount }}</td>
		</tr>
	</table>
</div>
<div id="gamers">
	Игроки:<br>
	<ul>
		{% for gamer in command.gamers %}
		<li><a href="/gamer?key={{ gamer.keyStr }}">{{ gamer|GamerFormat }}</a></li>
		{% endfor %}
	</ul>
</div>
<div id="achives">
	Достижения:<br>
	<ul>
		{% for achievement in achievements %}
		<li>{{ achievement.achievementType.name }} ({{ achievement.achievementType.level }}, получена <a href="/gamer?key={{ achievement.gamer.keyStr }}">{{ achievement.gamer.name }}</a> <a href="/game?key={{ achievement.game.keyStr }}">{{ achievement.game.date }}</a>)</li>
		{% endfor %}
	</ul>
</div>
<div id="stats"></div>
<div id="plots"></div>
{% endblock %}