{% extends "base.html" %}

{% block main %}
<div id="info">
	<table>
		<tr>
			<th colspan="2" class="text-center">Информация о команде</th>
		</tr>
		<tr>
			<td class="text-right">Название:</td>
			<td>{{ command.name }}</td>
		</tr>
		<tr>
			<td class="text-right">Количество игроков:</td>
			<td>{{ command.gamersCount }}</td>
		</tr>
	</table>
</div>
<div id="gamers">
	Игроки:<br>
	<ul>
		{% for gamer in command.gamers %}
		<li><a href="/user?key={{ gamer.keyStr }}">{{ gamer.name }} ({{ gamer.nick }})</a></li>
		{% endfor %}
	</ul>
</div>
<div id="achives">
	Достижения:<br>
	<ul>
		{% for achievement in gamer.achievements %}
		<li>{{ achievement.achievementType.name }} ({{ achievement.achievementType.level }}, получена {{ achievement.gamer.name }} {{ achievement.game.date }}</li>
		{% endfor %}
	</ul>
</div>
<div id="stats">
	<table class="elements-center">
		<tr>
			<th colspan="9">Игровая статистика команды</th>
		</tr>
		<tr>
			<th>Дата</th>
			<th>Игрок</th>
			<th>Цвет</th>
			<th>Рейтинг</th>
			<th>Точность</th>
			<th>Урон</th>
			<th>Количество смертей</th>
			<th>Количество ранений</th>
			<th>Использовано патронов</th>
		</tr>
		{% for stat in stats %}
		<tr>
			<td>{{ stat.game.date }}</td>
			<td>{{ stat.color }}</td>
			<td>{{ stat.gamer.name }} ({{ stat.gamer.nick }})</td>
			<td>{{ stat.rating }}</td>
			<td>{{ stat.accuracy }}</td>
			<td>{{ stat.damage }}</td>
			<td>{{ stat.countOfDeaths }}</td>
			<td>{{ stat.countOfInjuries }}</td>
			<td>{{ stat.usedCartridge }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div id="plots">
</div>
{% endblock %}