{% extends "base.html" %}

{% block main %}
<div id="info">
	<table>
		<tr>
			<th colspan="2" class="text-center">Редактирование команды</th>
		</tr>
		<tr>
			<td class="text-right">Название команды:</td>
			<td>{{ command.name }}</td>
		</tr>
		<tr>
			<td class="text-right">Список игроков:</td>
			<td>
				<ul>
					{% for gamer in command.gamers %}
					<li><a href="/gamer?key={{ gamer.keyStr }}">{{ gamer.name }} ({{ gamer.nick }})</a></li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		<form action="/editCommand" method="post">
			<tr>
				<td>Добавить игрока:</td>
				<td>
					<select name="addedGamer" onchange='this.form.submit();'>
						{% for gamer in gamers %}
						<option value='{{ gamer.keyStr }}'>{{ gamer.name }} ({{ gamer.nick }})</option>
						{% endfor %}
					</select>
					<input type="hidden" name="commandKey" value='{{ command.keyStr }}' />
				</td>
				<td><input type="submit" value="Add" /></td>
			</tr>
		</form>
	</table>
</div>
{% endblock %}