{% extend "base.html"}

{% block main %}
<div id="info">
	<table>
		<tr>
			<th colspan="2" class="text-center">Редактирование команды</th>
		</tr>
		<tr>
			<td class="text-right">Название команды:</td>
			<td>Норфолк</td>
		</tr>
		<tr>
			<td class="text-right">Список игроков:</td>
			<td>
				<ul>
					{% for gamer in gamers %}
					<li><a href="/user?key={{ gamer.keyStr }}">{{ gamer.name }} ({{ gamer.nick }})</a></li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		<form>
			<tr>
				<td>Добавить игрока:</td>
				<td>
					<select>
						<option>Плешаков Дмитрий (Fearing)</option>
						<option>Василий Петров (loh3333)</option>
					</select>
				</td>
				<td><button>Добавить</button></td>
			</tr>
		</form>
	</table>
</div>
{% endblock %s}