{% extends "base.html"}

{% block main %}
<div id="info">
	<table>
		<tr>
			<th colspan="2" class="text-center">Информация о игроке</th>
		</tr>
		<tr>
			<td class="text-right">Имя:</td>
			<td>{{ gamer.name }}</td>
		</tr>
		<tr>
			<td class="text-right">Ник:</td>
			<td>{{ gamer.nick }}</td>
		</tr>
		<tr>
			<td class="text-right">Команда:</td>
			<td>{{ gamer.command.name }}</td>
		</tr>
		<tr>
			<td class="text-right">Количество игр:</td>
			<td>{{ gamer.gameCount }}</td>
		</tr>
	</table>
</div>
<div id="achives">
	Достижения:<br>
	<ul>
		{% for achievement in gamer.achievements %}
		<li>{{ achievement.achievementType.name }} ({{ achievement.achievementType.level }}, получена {{ achievement.game.date }}</li>
		{% endfor %}
	</ul>
</div>
<div id="stats">
	<table class="elements-center">
		<tr>
			<th colspan="8">Статистика за все время</th>
		</tr>
		<tr>
			<th>Дата</th>
			<th>Цвет</th>
			<th>Рейтинг</th>
			<th>Точность</th>
			<th>Урон</th>
			<th>Количество смертей</th>
			<th>Количество ранений</th>
			<th>Использовано патронов</th>
		</tr>
		{% for stat in gamer.stats %}
		<tr>	
			<td>{{ stat.game.date }}</td>
			<td>{{ stat.color }}</td>
			<td>{{ stat.rating }}</td>
			<td>{{ stat.accuracy }}</td>
			<td>{{ stat.damage }}</td>
			<td>{{ stat.countOfDeaths }}</td>
			<td>{{ stat.countOfInjuries }}</td>
			<td>{{ stat.usedCartridge }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div id="plots">
</div>
{% endblock %}