{% extends "base.html" %}

{% block scripts %}
<script>
	function ChangeDisplay(element) {
		if (element.style.display == "none") {
			element.style.display = '';
		}
		else {
			element.style.display = 'none';
		}
	}

	onload = function() {
		document.getElementById('gamersList').style.display = 'none';
		document.getElementById('commandsList').style.display = 'none';
		document.getElementById('gamesList').style.display = 'none';
	}
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type='text/javascript'>
		google.load('visualization', '1', {packages:['table']});
		google.setOnLoadCallback(drawTable);

		function drawTable() {
			var data = new google.visualization.DataTable();
			data.addColumn('date', 'Дата');
			data.addColumn('string', 'Цвет');
			data.addColumn('string', 'Игрок');
			data.addColumn('number', 'Рейтинг');
			data.addColumn('number', 'Точность');
			data.addColumn('number', 'Урон');
			data.addColumn('number', 'Количество смертей');
			data.addColumn('number', 'Количество ранений');
			data.addColumn('number', 'Использовано патронов');

			{% for stat in statistics %}
			data.addRow(
				[new Date({{ stat.game.date.year }}, {{ stat.game.date.month }} - 1, {{ stat.game.date.day }}), '{{ stat.color }}', '{{ stat.gamer.name }} "{{ stat.gamer.nick }}"',
				{{ stat.rating }}, {{ stat.accuracy }}, {{ stat.damage }}, {{ stat.countOfDeaths }}, {{ stat.countOfInjuries }}, {{ stat.usedCartridge }}]
			);
			{% endfor %}

			var table = new google.visualization.Table(document.getElementById('stats'));
			table.draw(data, {showRowNumber: false});
		}
	</script>
{% endblock %}

{% block main %}
<div id="menu" class="text-center">
	<a href="/add">Add new data</a> | <a href="/addCommand">Add new command</a> | <a href="/achievements">RecalculateAchievements</a>
</div>
<div id="lists">
	<table>
		<tr>
			<td>
				<div id="gamers">
					Игроки <a href="#" onclick="ChangeDisplay(document.getElementById('gamersList')); return false;">(скрыть/показать)</a>:<br>
					<ul id="gamersList">
						{% for gamer in gamers %}
						<li>{{ gamer.name }} "{{ gamer.nick }}" <a href="/gamer?key={{ gamer.keyStr }}">(профиль)</a></li>
						{% endfor %}
					</ul>
				</div>
			</td>
			<td>
				<div id="commands">
					Команды <a href="#" onclick="ChangeDisplay(document.getElementById('commandsList')); return false;">(скрыть/показать)</a>:
					<ul id="commandsList">
						{% for command in commands %}
						<li>{{ command.name }} <a href="/command?key={{ command.keyStr }}">(профиль)</a> <a href="/editCommand?key={{ command.keyStr }}">(редактировать)</a></li>
						{% endfor %}
					</ul>
				</div>
			</td>
			<td>
				<div id="games">
					Игры <a href="#" onclick="ChangeDisplay(document.getElementById('gamesList')); return false;">(скрыть/показать)</a>:
					<ul id="gamesList">
						{% for game in games %}
						<li>Игра {{ game.date|DateFormat }} <a href="/game?key={{ game.keyStr }}">(статистика)</a></li>
						{% endfor %}
					</ul>
				</div>
			</td>
		</tr>
	</table>
</div>
<div id="stats"></div>
{% endblock %}