{% extends "base.html" %}

{% block scripts %}
<script>
	function ChangeDisplay(element) {
		if (element.style.display == "none") {
			element.style.display = ''
		}
		else {
			element.style.display = 'none'
		}
	}
</script>
{% endblock %}

{% block main %}
<div id="menu" class="text-center">
	<a href="/add">Add new data</a> | <a href="/achievements">RecalculateAchievements</a>
</div>
<div id="lists">
	<table>
		<tr>
			<td>
				<div id="gamers">
					Игроки <a href="#" onclick="ChangeDisplay(document.getElementById('gamersList')); return false;">(скрыть/показать)</a>:<br>
					<ul id="gamersList">
						{% for gamer in gamers %}
						<li>{{ gamer.name }} "{{ gamer.nick }}" <a href="/gamer?key={{ gamer.keyStr }}&orderBy=-game">(профиль)</a></li>
						{% endfor %}
					</ul>
				</div>
			</td>
			<td>
				<div id="commands">
					Команды <a href="#" onclick="ChangeDisplay(document.getElementById('commandsList')); return false;">(скрыть/показать)</a>:
					<ul id="commandsList">
						{% for command in commands %}
						<li>{{ command.name }} <a href="/command?key={{ command.keyStr }}&orderBy=-rating">(профиль)</a> <a href="/editCommand?key={{ command.keyStr }}">(редактировать)</a></li>
						{% endfor %}
					</ul>
				</div>
			</td>
			<td>
				<div id="games">
					Игры <a href="#" onclick="ChangeDisplay(document.getElementById('gamesList')); return false;">(скрыть/показать)</a>:
					<ul id="gamesList">
						{% for game in games %}
						<li>Игра {{ game.date.day }}.{{ game.date.month }}.{{ game.date.year }} <a href="/game?key={{ game.keyStr }}&orderBy=-rating">(статистика)</a></li>
						{% endfor %}
					</ul>
				</div>
			</td>
		</tr>
	</table>
</div>
<div id="stats">
	<table class="elements-center">
		<tr>
			<th colspan="9">Игровая статистика за все время</th>
		</tr>
		<tr>
			<th><a href="?orderBy={{ suffix }}game">Дата</a></th>
			<th><a href="?orderBy={{ suffix }}color">Цвет</a></th>
			<th><a href="?orderBy={{ suffix }}gamer">Имя игрока</a></th>
			<th><a href="?orderBy={{ suffix }}rating">Рейтинг</a></th>
			<th><a href="?orderBy={{ suffix }}accuracy">Точность</a></th>
			<th><a href="?orderBy={{ suffix }}damage">Урон</a></th>
			<th><a href="?orderBy={{ suffix }}countOfDeaths">Количество смертей</a></th>
			<th><a href="?orderBy={{ suffix }}countOfInjuries">Количество ранений</a></th>
			<th><a href="?orderBy={{ suffix }}usedCartridge">Испольовано патронов</a></th>
		</tr>
		{% for stat in statistics %}
		<tr>
			<td>{{ stat.game.date.day }}.{{ stat.game.date.month }}.{{ stat.game.date.year }}</td>
			<td>{{ stat.color }}</td>
			<td>{{ stat.gamer.name }} ({{ stat.gamer.nick }})</td>
			<td>{{ stat.rating }}</td>
			<td>{{ stat.accuracy }}</td>
			<td>{{ stat.damage }}</td>
			<td>{{ stat.countOfDeaths }}</td>
			<td>{{ stat.countOfInjuries }}</td>
			<td>{{ stat.usedCartridge }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}