{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
</script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type='text/javascript'>
		google.load('visualization', '1', {packages:['table']});
		google.setOnLoadCallback(drawTable);

		function drawTable() {
			var data = new google.visualization.DataTable();
			data.addColumn('date', 'Дата');
			data.addColumn('string', 'Цвет');
			data.addColumn('string', 'Игрок');
			data.addColumn('number', 'Рейтинг');
			data.addColumn('number', 'Точность');
			data.addColumn('number', 'Урон');
			data.addColumn('number', 'Количество смертей');
			data.addColumn('number', 'Количество ранений');
			data.addColumn('number', 'Использовано патронов');

			{% for stat in statistics %}
			data.addRow(
				[new Date({{ stat.game.date.year }}, {{ stat.game.date.month }} - 1, {{ stat.game.date.day }}), '{{ stat.color }}', '{{ stat.gamer|GamerFormat }}',
				{{ stat.rating }}, {{ stat.accuracy }}, {{ stat.damage }}, {{ stat.countOfDeaths }}, {{ stat.countOfInjuries }}, {{ stat.usedCartridge }}]
			);
			{% endfor %}

			var table = new google.visualization.Table(document.getElementById('stats-table-div'));
			table.draw(data, {showRowNumber: false});
		}
	</script>
{% endblock %}

{% block main %}
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Новости</a></li>
		<li><a href="#tabs-2">Список игр</a></li>
		<li><a href="#tabs-3">Список игроков</a></li>
		<li><a href="#tabs-4">Список команд</a></li>
		<li><a href="#tabs-5">Статистика</a></li>
	</ul>
	<div id="tabs-1">
		{% for currentNews in news %}
		<p>{{ currentNews.title }}</p>
		<p>{{ currentNews.body }}</p>
		<p>{{ currentNews.date|DateFormat }}</p>
		<hr>
		{% endfor %}
	</div>
	<div id="tabs-2">
		<ul id="gamesList">
			{% for game in games %}
			<li>Игра {{ game.date|DateFormat }} <a href="/game?key={{ game.keyStr }}">(статистика)</a></li>
			{% endfor %}
		</ul>
	</div>
	<div id="tabs-3">
		<ul id="gamersList">
			{% for gamer in gamers %}
			<li>{{ gamer|GamerFormat }} <a href="/gamer?key={{ gamer.keyStr }}">(профиль)</a></li>
			{% endfor %}
		</ul>
	</div>
	<div id="tabs-4">
		<ul id="commandsList">
			{% for command in commands %}
			<li>
				<img src="/images/{{ command.logo.keyStr }}" />{{ command.name }} 
				<a href="/command?key={{ command.keyStr }}">(профиль)</a> 
				<a href="/editCommand?key={{ command.keyStr }}">(редактировать)</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div id="tabs-5">
		<div id="stats">
			Сводная статистика за все время:<br>
			<div id="stats-table-div"></div>
		</div>
	</div>
</div>
{% endblock %}